
.title {
	font-size: 125px;
	margin-top: 25px;
	margin-bottom: 0px;
	text-align: center;
}

.subtitle {
	font-size: 30px;
	text-align: center;
}

#main {
	column-count: 2;
}

#canvas {
	text-align: right;
	margin-right: 20px;
}

#right-column {
	text-align: left;
	margin-left: 20px;
}